.about-container {
    margin: 32px 60px;
    text-align: start;
  }
  .about-container h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .about-container p {
    text-align: justify;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 800px) {
    .about-container {
      margin: 32px 30px;
    }
  }
  