.form-container {
    margin: 60px 90px;
  }
  .form-container form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  .form-container input {
    height: 40px;
    padding-top: 0 16px;
    margin-bottom: 32px;
    border-radius: 6px;
    border-color: 1px solid #2a2a2a;
  }
  .form-container textarea {
    padding-top: 16px;
    margin-bottom: 32px;
    border-radius: 6px;
    border-color: 1px solid #2a2a2a;
  }
  .form-container button {
    height: 40px;
    border-radius: 8px;
  }
  .form-container button:hover {
    background-color: black;
    color: white;
  }
  @media screen and (max-width: 800px) {
    .form-container {
      margin: 60px 32px;
    }
    .form-container form {
      padding-top: 32px;
      width: 80%;
    }
  }
  