.details {
    margin: 60px 80px;
  }
  .details h1 {
    font-size: 45px;
    text-decoration: underline;
  }
  .first-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
  }
  .first-detail-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .detail-text {
    width: 45%;
    text-align: justify;
    font-size: 15px;
  }
  .detail-text h2 {
    padding-bottom: 16px;
  }
  .detail-image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .detail-image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 1px;
  }
  .detail-image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
  }
  @media screen and (max-width: 800px) {
    .details {
      margin: 60px 30px;
    }
    .first-detail {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 40px;
    }
    .first-detail-reverse {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 80px;
    }
    .detail-text {
      width: 100%;
    }
    .detail-image {
      width: 100%;
      margin: 20px;
    }
    .detail-image img {
      height: 250px;
    }
  }
  